*{
  margin: 0;
}
.main_website{
  width: 70%;
  margin: 0 auto;
  border: 1px solid #000;
}
.header{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-family: sans-serif;
  background: #00a2e7;
padding: 10px 0;
color: #fff;
}
.header_banner{
  background: url(https://zahirulislam-iv.github.io/class-17-assignment-/img/photo-1490578474895-699cd4e2cf59.jpg);
  text-align: center;
  padding: 200px 0;
  background-repeat:no-repeat;
  background-size: 100vw;
  background-position: 10px 40px;
}
.header_banner h1{
  background-color: rgb(165, 19, 19);
  color: #fff;
  padding: 5px 15px;
  text-transform: uppercase;
  width: 30%;
  margin: 0 auto;
}
.header_banner h6{
  color: red;
  background: #fff;
  width: 25%;
  margin: 10px auto;
  font-size: 19px;
}
.header_banner a{
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  text-transform: uppercase;
  border: 1px solid #ddd;
  padding: 10px;
  display: inline-block;
  transition: .4s;
}
.header_banner a:hover{
  color: red;
  border-color: red;
  padding:10px 120px ;
}
.footer{
  text-align: center;
  background: #555;
  padding: 20px 0;
}